<div id="experience" class="row columns">
  <div class="text-header">
    <p>Experience</p>
  </div>
  <ul class="tabs experience-green" data-tabs id="experience-tabs">
    <li class="tabs-title is-active"><a href="#db-sql-query">SQL Database Anaylst</a></li>
    <li class="tabs-title"><a href="#clinical-research">Clinical Research Intern</a></li>
  </ul>
  <div class="tabs-content experience-green columns" data-tabs-content="experience-tabs">
    <div class="tabs-panel is-active" id="db-sql-query">
      <ul class="accordion" data-accordion role="tablist">
        <li class="accordion-item is-active">
          <a href="#panel1" class="accordion-title">SQL</a>
          <div id="panel1" class="accordion-content" data-tab-content>
            SQL is a special-purpose programming language designed for managing data held in a relational database management system (RDBMS). Originally based upon relational algebra and tuple relational calculus, SQL consists of a data definition, manipulation, control language. The scope of SQL includes data insert, query, update, delete, schema creation and modification, and data access control. Although SQL is often described as, and to a great extent is, a declarative language, it also includes procedural elements.
          </div>
        </li>
        <li class="accordion-item">
          <a href="#panel2" class="accordion-title">Informatica Cloud</a>
          <div id="panel2" class="accordion-content" data-tab-content>
            Informatica Cloud is a bulk data integration and data warehousing system. While their technology spans a variety of cloud and non-cloud applications, their data integration and ETL processes more are particularly robust. Informatica Cloud is able to extract data using a secure agent installed cloud side. This data is then encrypted and transferred locally. As of August 2015 they have been acquisitioned by Microsoft and Salesforce.
          </div>
        </li>
      </ul>
        <hr>
      <div class="row column experience-green">
        <div class="small-12 medium-10 large-7 columns experience-green">
          <p>THe top section is a sample query from extracting for a client database. As a SQL analyst, I would navigate through databases in order to understand it's sturcture. I would map columns from the client database, to similar concepts within our own database. Often I would learn the language of the database in order to construct these queries. In addition to TSQL, I also programmed in PL/SQL (Used for Oracle) and MySQL when mapping data concepts.</p>
          <p>ETL (Extract-Transform-Load) refers to the process of extracting data, manipulating/cleaning it, and loading it into another database. The query demonstrates a the types of transformations that take place. Often, dates have to be formatted into proper datetime format, strings need to be parsed for certain information, or CASE logic determines what data is captured or tossed out.</p>
        </div>
        <div class="small-12 medium-2 large-5 columns picture experience-green">
          <img src="images/sql1.jpg">
        </div>
      </div>
      <div class="row column experience-green">
        <div class="small-12 medium-2 large-5 columns picture experience-green">
          <img src="images/sql2.jpg">
        </div>
        <div class="small-12 medium-10 large-7 columns experience-green">
          <p>The bottom section of the query always contains the FROM and WHERE statement. SQL queries always come with a SELECT and FROM statement. The WHERE statement is an optional statement frequently used to filter extraction results.</p>
          <p>In this query, the FROM statement includes a left outer join, inner join, and left join. Joins are used to link tables together, and are integral to creating more complex queries that span across the database. This WHERE statement is used to filter our certain results. NULL patient ids, or test usernames are being parsed based on a wildcard search function.</p>
        </div>
      </div>
    </div>

    <div class="tabs-panel" id="clinical-research">
      <ul class="accordion" data-accordion role="tablist">
        <li class="accordion-item is-active">
          <a href="#panel1" class="accordion-title">Excel</a>
          <div id="panel1" class="accordion-content" data-tab-content>
            Microsoft Excel is a spreadsheet program developed by Microsoft. It features your standard graphing tools, calculators, pivot tables, and a macro programming language called Visual Basic for Applications.
          </div>
        </li>
      </ul>
        <hr>
      <div class="small-12 medium-5 columns picture">
        <img src="images/mri1.jpg">
      </div>
      <div class="small-12 medium-7 columns">
        <p>My clinical research internship assisted in the a publication on a <a href="http://www.redjournal.org/article/S0360-3016(14)00140-0/abstract">therapy for lung cancer</a>.</p>
        <p>The experiment involved looking at dozens of PET scans from patients who have completed an experimental therapy. The pet scan searched for a glucose marker called F-FDG to check for the possibility of recurrent lung cancer. If there was a correlation between F-FDG volumes in the post-radiation therapy PET scans, it could be used as another indicator that the tumor will become chronic. Patients were in all four phases of lung cancer, but a vast majority lie between stage 2 and stage 3.</p>
        <p>Metrics on determining the stage of the cancer considered the height, width, and depth of the tumor. This data was accumulated into Excel spreadsheets along with their tumor photo.</p>
      </div>
    </div>
  </div>
</div>
