<div class="orbit row" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out; timerDelay:5000">
  <ul class="orbit-container">
    <button class="orbit-previous" aria-label="previous">&#9664;</button>
    <button class="orbit-next" aria-label="next">&#9654;</button>
    <li class="orbit-slide">
      <div>
        <img src="images/code1.jpg">
        <figcaption class="orbit-caption">Find an engineer with a passion for coding.</figcaption>
      </div>
    </li>
    <li class="orbit-slide">
      <div>
        <img src="images/analysis1.jpg">
        <figcaption class="orbit-caption">Anyone can amass data. The real question is how will you analyze it?</figcaption>
      </div>
    </li>
    <li class="orbit-slide">
      <div>
        <img src="images/design1.jpg">
        <figcaption class="orbit-caption">Successful software is more than bug-free code. An elegant design is key to attracting users.</figcaption>
      </div>
    </li>
  </ul>
  <nav class="orbit-bullets">
   <button class="is-active" data-slide="0"></button>
   <button data-slide="1"></button>
   <button data-slide="2"></button>
 </nav>
</div>

<div class="row">
  <div class="small-8 columns">
    <p>
      Hi, I'm Joseph.
    </p>
    <p>
      I am a past SQL analyst, and current Ruby on Rails apprentice.
    </p>
  </div>
  <div class="small-4 columns">
    <img src="images/profile1.jpg">
  </div>
</div>
