
<div id="home" class="orbit" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out; timerDelay:5000">
  <div class="black-wrapper">
    <ul class="row orbit-container">
      <button class="orbit-previous">&#9664;</button>
      <button class="orbit-next">&#9654;</button>
      <li class="orbit-slide">
        <div>
          <img src="images/code1.jpg">
          <figcaption class="orbit-caption">
            <p class="caption-header">Code</p>
            <p class="caption-footer">Find an engineer with a passion for coding.</p>
          </figcaption>
        </div>
      </li>
      <li class="orbit-slide">
        <div>
          <img src="images/analysis1.jpg">
          <figcaption class="orbit-caption">
            <p class="caption-header">Analyze</p>
            <p class="caption-footer">Anyone can amass data. The real question is how to analyze it.</p>
          </figcaption>
        </div>
      </li>
      <li class="orbit-slide">
        <div>
          <img src="images/design1.jpg">
          <figcaption class="orbit-caption">
            <p class="caption-header">Design</p>
            <p class="caption-footer">Successful products are more than bug-free code. Having intuitive and elegant design is key to attracting users.</p>
          </figcaption>
        </div>
      </li>
      <li class="orbit-slide">
        <div>
          <img src="images/solution1.jpg">
          <figcaption class="orbit-caption">
            <p class="caption-header">Solve</p>
            <p class="caption-footer">Use data-driven insights to engineer today's complex problems.</p>
          </figcaption>
        </div>
      </li>
    </ul>
  </div>
  <nav class="row orbit-bullets">
    <button class="is-active" data-slide="0"></button>
    <button data-slide="1"></button>
    <button data-slide="2"></button>
    <button data-slide="3"></button>
  </nav>
</div>

<div id="about" class="row">
  <div class="small-8 columns">
    <div class="text-header">
      <p>Hi, I'm Joseph.</p>
    </div>
    <div class="text-footer">
      <p>I program things using Ruby on Rails and write SQL queries for analysis.</p>
      <p>The first language I picked up was SQL during a technical consulting position. While there, I also learned my first scripting language AutoHotkey to automate all tasks that required systematic clicking and keystrokes. From there, my interest in programming grew as I independently learned HTML, CSS, and Javascript. Currently my favorite language is Ruby. Relative to other languages it boasts a clean and intuitive syntax that is easy for others to read, as well as many powerful methods that can be readily applied.</p>
      <p>While many view programming simply as a skill, it also begins to feel like an art. A particular problem can have multiple viable solutions, but the resulting solution depends on the programmer behind the code. It's a constant balancing act between maintaining readable code, fewest number of lines, and efficency by using minimal processing power. One of the most satisfying feelings is when all three are achieved to produce elegant code.</p>
      <p>What I love about programming the most is its ability to immerse me completely. One of my favorite moments as a child would be to sit down for hours with a brand new book. There was something about the texture of the pages, the creak of a sheet being turned for the first time, and the distinct fragrance of freshly printed paper. I could read for hours completely immersed in my imagination. Code brings about the same feeling (sometimes). When I dive deep into a problem I create a solution, seek to understand solutions done by peers, and improve on my solution again. There's nothing quite like creatively coming up with a simple solution to a complex problem.</p>
      <p>On my spare time, I enjoy playing <a href="http://www.chess.com/members/view/jscho13">chess</a>, listening to music, <a href="https://www.youtube.com/watch?v=MpBVlkW347w">dancing</a>, and hanging out with good company.</p>
    </div>
  </div>
  <div class="small-4 columns">
    <img src="images/profile1.jpg">
  </div>
</div>

<div class="row">
  <img src="images/chess1.jpg">
</div>

<div id="projects" class="row columns">
  <div class="text-header image-spacer">
    <p>Projects</p>
  </div>
  <ul class="tabs" data-tabs id="project-tabs">
    <li class="tabs-title is-active"><a href="#this-website">This Website</a></li>
    <li class="tabs-title"><a href="#online-trading-webcrawler">Online Trading Webcrawler</a></li>
    <li class="tabs-title"><a href="#breakable-toy">Breakable Toy</a></li>
    <li class="tabs-title"><a href="#db-sql-query">Database SQL Query</a></li>
  </ul>
  <div class="tabs-content columns" data-tabs-content="project-tabs">
    <section class="tabs-content-header">Technologies used:</section>
    <div class="tabs-panel is-active" id="this-website">
      <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
    </div>

    <div class="tabs-panel" id="online-trading-webcrawler">
      <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
    </div>

    <div class="tabs-panel" id="breakable-toy">
      <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
    </div>

    <div class="tabs-panel" id="db-sql-query">
      <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
    </div>

  </div>
</div>

<!-- <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
  <li class="accordion-item">
    <a class="accordion-title">Sinatra</a>
    <div class="accordion-content" data-tab-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </li>
  <li class="accordion-item">
    <a class="accordion-title">Foundation</a>
    <div class="accordion-content" data-tab-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </li>
  <li class="accordion-item">
    <a class="accordion-title">Heroku</a>
    <div class="accordion-content" data-tab-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </li>
</ul> -->
