<div id="home" class="container">
  <video autoplay loop>
    <source src="images/edittedvideo1.mp4" type="video/mp4">
  </video>
  <!-- <div class="animated fadeInDown overlay"> -->
    <div class="orbit" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out; timerDelay:2000">
      <ul class="orbit-container">
        <li class="orbit-slide"><h1>I'm Joseph</h1></li>
        <li class="orbit-slide"><h1>I'm a programmer</h1></li>
        <li class="orbit-slide"><h1>I'm a chess player</h1></li>
        <li class="orbit-slide"><h1>I'm a dancer</h1></li>
        <li class="orbit-slide"><h1>I'm a human</h1></li>
      </ul>
    </div>
  <!-- </div> -->
</div>

<div class="other-container">
  <div class="row">
    <div class="small-12 medium-8 columns">
      <div class="text-header">
        <p>Hi, I'm Joseph.</p>
      </div>
      <div class="text-footer">
        <p>I program things using Ruby on Rails and write SQL queries for analysis.</p>
        <p>The first language I picked up was SQL during a technical consulting position. While there, I also learned my first scripting language AutoHotkey to automate all tasks that required systematic clicking and keystrokes. From there, my interest in programming grew as I independently learned HTML, CSS, and Javascript. Currently my favorite language is Ruby. Relative to other languages it boasts a clean and intuitive syntax that is easy for others to read, as well as many powerful methods that can be readily applied.</p>
        <p>While many view programming simply as a skill, it also begins to feel like an art. A particular problem can have multiple viable solutions, but the resulting solution depends on the programmer behind the code. It's a constant balancing act between maintaining readable code, fewest number of lines, and efficency by using minimal processing power. One of the most satisfying feelings is when all three are achieved to produce elegant code.</p>
        <p>What I love about programming the most is its ability to immerse me completely. One of my favorite moments as a child would be to sit down for hours with a brand new book. There was something about the texture of the pages, the creak of a sheet being turned for the first time, and the distinct fragrance of freshly printed paper. I could read for hours completely immersed in my imagination. Code brings about the same feeling (sometimes). When I dive deep into a problem I create a solution, seek to understand solutions done by peers, and improve on my solution again. There's nothing quite like creatively coming up with a simple solution to a complex problem.</p>
        <p>On my spare time, I enjoy playing <a href="http://www.chess.com/members/view/jscho13">chess</a>, listening to music, <a href="https://www.youtube.com/watch?v=MpBVlkW347w">dancing</a>, and hanging out with good company.</p>
      </div>
    </div>
    <div class="small-12 medium-4 columns">
      <img class="show-for-small hide-for-medium" src="images/profile2.jpg">
      <img class="show-for-medium" src="images/profile1.jpg">
    </div>
  </div>

  <%= erb :orbit %>
  <%= erb :projects %>
  <%= erb :experiences %>

</div>
