<div class="orbit row" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out; timerDelay:5000">
  <ul class="orbit-container">
    <button class="orbit-previous" aria-label="previous">&#9664;</button>
    <button class="orbit-next" aria-label="next">&#9654;</button>
    <li class="orbit-slide">
      <div>
        <img src="images/code1.jpg">
        <figcaption class="orbit-caption">
          <p class="caption-header">Code</p>
          <p class="caption-footer">Find an engineer with a passion for coding.</p>
        </figcaption>
      </div>
    </li>
    <li class="orbit-slide">
      <div>
        <img src="images/analysis1.jpg">
        <figcaption class="orbit-caption">
          <p class="caption-header">Analyze</p>
          <p class="caption-footer">Anyone can amass data. The real question is how will you analyze it.</p>
        </figcaption>
      </div>
    </li>
    <li class="orbit-slide">
      <div>
        <img src="images/design1.jpg">
        <figcaption class="orbit-caption">
          <p class="caption-header">Design</p>
          <p class="caption-footer">Successful products are more than bug-free code. The key to attracting users is having intuitive and elegant design.</p>
        </figcaption>
      </div>
    </li>
    <li class="orbit-slide">
      <div>
        <img src="images/solution1.jpg">
        <figcaption class="orbit-caption">
          <p class="caption-header">Solve</p>
          <p class="caption-footer">Use data-driven insights to engineer today's complex problems.</p>
        </figcaption>
      </div>
    </li>
  </ul>
  <nav class="orbit-bullets">
   <button class="is-active" data-slide="0"></button>
   <button data-slide="1"></button>
   <button data-slide="2"></button>
   <button data-slide="3"></button>
 </nav>
</div>

<div class="row">
  <div class="small-8 columns">
    <p>
      <b>Hi, I'm Joseph.</b>
    </p>
    <p>
      I program things using Ruby on Rails and write SQL queries for analysis.
    </p>
    <p>
      I use Rails to create web applications to help improve lives. In my last job,
    </p>
    <p>
      As a hobby, I enjoy chess, listening to music, and dancing.
    </p>
  </div>
  <div class="small-4 columns">
    <img src="images/profile1.jpg">
  </div>
</div>
