<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/motion-ui.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'> -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <div data-sticky-container>
      <div class="sticky" data-sticky data-margin-top=0 style="width:100%;">
        <div class="top-bar" data-magellan data-bar-offset=28>
          <div class="top-bar-left">
            <ul class="menu">
              <li class="menu-text"><a href="#home">Joseph Cho</a></li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <li><a href="#about">About</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#experience">Experience</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer id="contact" class="footer">
    <div class="row black-wrapper small-12 columns">
      <p class="slogan">Lets keep in touch.</p>
      <p class="links">
        <a href="https://www.linkedin.com/in/jscho13">LinkedIn</a>
        <a href="https://github.com/jscho13">GitHub</a>
        <a href="mailto:jscho13@gmail.com">Email</a>
        <a href="https://angel.co/joseph-cho">AngelList</a>
      </p>
      <p class="copywrite">This site is entirely custom made with love and affection. Please reach out before using it as a template.</p>
    </div>
  </footer>

  <script src="/javascript/jquery.min.js"></script>
  <script src="/javascript/foundation.js"></script>
  <script src="/javascript/app.js"></script>
  <script src="/javascript/motion-ui.js"></script>
</html>
