<div class="orbit" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out; timerDelay:4000">
  <div class="black-row">
    <ul class="row orbit-container picture">
      <button class="orbit-previous">&#9664;</button>
      <button class="orbit-next">&#9654;</button>
      <li class="orbit-slide">
        <div>
          <img src="images/code1.jpg">
          <figcaption class="orbit-caption">
            <p class="caption-header">Code</p>
            <p class="caption-footer">Find an engineer with a passion for coding.</p>
          </figcaption>
        </div>
      </li>
      <li class="orbit-slide">
        <div>
          <img src="images/analysis1.jpg">
          <figcaption class="orbit-caption">
            <p class="caption-header">Analyze</p>
            <p class="caption-footer">Anyone can amass data. The real question is how to analyze it.</p>
          </figcaption>
        </div>
      </li>
      <li class="orbit-slide">
        <div>
          <img src="images/design1.jpg">
          <figcaption class="orbit-caption">
            <p class="caption-header">Design</p>
            <p class="caption-footer">Successful products are more than bug-free code. Having intuitive and elegant design is key to attracting users.</p>
          </figcaption>
        </div>
      </li>
      <li class="orbit-slide">
        <div>
          <img src="images/solution1.jpg">
          <figcaption class="orbit-caption">
            <p class="caption-header">Solve</p>
            <p class="caption-footer">Use data-driven insights to engineer today's complex problems.</p>
          </figcaption>
        </div>
      </li>
    </ul>
  </div>

  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"></button>
    <button data-slide="1"></button>
    <button data-slide="2"></button>
    <button data-slide="3"></button>
  </nav>
</div>
