
body {
  height: auto; }

li {
  font-size: 2.25vmin; }

a {
  padding: 1vmin; }
  a[href="#home"] {
    color: black; }

hr {
  margin: 2vmin; }

tbody td {
  padding:1.5vmin;
}

thead th {
  padding:1.5vmin; }

p {
  margin: 1vmin; }

.row {
  background-color: white; }
  .black-wrapper {
    background-color: black; }
  .gray-wrapper {
    background-color: #dddddd; }

.columns {
  padding: 1vmin; }

.orbit-container {
  height: auto !important;
  margin: auto; }
  .orbit-caption {
    font-weight: bold;
    padding: 1vmin; }
  .caption-header {
    font-size: 3.5vmin;
    font-weight: bold;
    margin-bottom: 0; }
  .caption-footer {
    font-size: 2.25vmin; }
  .orbit-bullets {
    margin: 1vmin, 0, 1vmin, 0;
    text-align: center; }

.top-bar {
  background-color: white;
  padding: 1vmin; }
  .top-bar ul {
    background-color: white; }

.menu > li:not(.menu-text) > a {
  padding: 1vmin; }

.text-header {
  font-size: 3vmin;
  font-weight: bold; }
  .text-footer {
    font-size: 2vmin; }

.tabs {
  border: 1vmin; }
  .tabs-title a {
    font-size: 2vmin;
    padding: 1.75vmin; }
  .tabs-content {
    font-size: 1.85vmin;
    padding: 1vmin; }
  .tabs-panel {
    padding: 1vmin; }

.accordion-title {
  font-size: 2vmin; }
  table {
    margin-bottom: 0; }

.footer {
  background-color: black;
  text-align: center;
  padding: 1%;
  margin-top: 3%; }
  .footer p.slogan {
    color: #8d9093;
    font-size: 3.25vmin; }
  .footer .links a {
    text-align: center;
    list-style: none;
    font-weight: bold;
    font-size: 2.5vmin;
    color: #ffffff;}
    .footer .links a::after {
      content: "•";
      padding: 0 0.75vmin 0 1.5vmin; }
    .footer .links a:last-child::after {
      content: "";
      padding-left: 0.75vmin; }
  .footer p.copywrite {
    color: #8f9296;
    font-size: 1.5vmin; }
