.container {
  background-color: grey;
}

.row {
  background-color: white;
}

img {
   position: relative;
   width: 100%; /* for IE 6 */
}

.orbit-caption {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.caption-header {
  font-weight: bolder;
  font-size: 34px;
  margin-bottom: 0;
}

.caption-footer {
  font-size: 20px;
}

p {
  font-size: 22px;
}
