.row {
  background-color: white;
}

.orbit-caption {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.orbit-container {
  height: auto !important;
}

.caption-header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}

.caption-footer {
  font-size: 18px;
}

.text-header {
  font-size: 30px;
  font-weight: bold;
}

.text-footer {
  font-size: 18px;
}

.image-spacer {
  margin-top: 3%;
}

.accordion-title {
  font-size: 18px;
}
